## Imports and Start Up

In [1]:
#Import packages
import pandas as pd
import numpy as np

In [2]:
#Import csv
combined_crm = pd.read_csv("combined_crm.csv").drop(columns = "x")

## Creating Dataframes

In [3]:
#Indexing combined_crm
combined_crm = combined_crm[["Lead Source","Status","Enquiry Month","Client Prospected","Google Ads Approximation"]]
combined_crm = combined_crm.dropna(how = "any", axis = 0)
combined_crm = combined_crm[combined_crm["Enquiry Month"].str.contains("-") == False]
combined_crm["Enquiry Month"] = pd.to_numeric(combined_crm["Enquiry Month"])
combined_crm

,Lead Source,Status,Enquiry Month,Client Prospected,Google Ads Approximation
895,Repeat - Platform,Lost 'Other',1,Not Sent Prospecting Email,-
896,Repeat - Platform,Lost 'Other',1,Not Sent Prospecting Email,-
897,Repeat - Platform,Closed,1,Sent Prospecting Email,-
898,New - Platform,Lost 'Other',1,Not Sent Prospecting Email,Ad Generated
899,New - Platform,Lost 'Other',1,Sent Prospecting Email,-
...,...,...,...,...,...
5319,New - Platform,Lost ‘No Response’,12,Not Sent Prospecting Email,Ad Generated
5321,New - Platform,Responded,12,Not Sent Prospecting Email,Ad Generated
5322,New - Platform,Responded,12,Not Sent Prospecting Email,Ad Generated
5323,New - Platform,Assigned Forecast,1,Sent Prospecting Email,-
5324,New - Inbound Email,Responded,1,Not Sent Prospecting Email,Ad Generated

In [4]:
#create dataframes for new and repeat business
crm_new = combined_crm[combined_crm["Lead Source"].str.contains("New", regex = False)]
crm_repeat = combined_crm[combined_crm["Lead Source"].str.contains("Repeat", regex = False)]

## CRM New

### Enquires

#### Total

In [5]:
#grouping by enquiry month
crm_new_total = crm_new[["Enquiry Month","Lead Source"]]
crm_new_total.groupby(["Enquiry Month"]).count().sort_values(by = ["Enquiry Month"]).swapaxes("index","columns")

Enquiry Month   1    2    3    4    5    6   7   8   9    10   11   12
Lead Source    195  222  194  125  107  141  94  76  85  155  146  108

#### Prospected and Google

In [6]:
#grouping by prospected
crm_new_prospected = crm_new.groupby(["Enquiry Month","Client Prospected"]).count().sort_values(by = ["Enquiry Month"]).pivot_table(index = ["Client Prospected"], columns = "Enquiry Month", values = "Lead Source")
crm_new_prospected

Enquiry Month                1    2    3   4   5   6   7   8   9   10   11  12
Client Prospected
Not Sent Prospecting Email  149  159  125  70  69  64  34  49  71  82  107  94
Sent Prospecting Email       46   63   69  55  38  77  60  27  14  73   39  14

In [7]:
#grouping by google
crm_new_google = crm_new[["Enquiry Month","Google Ads Approximation"]]
crm_new_google = crm_new_google[crm_new_google["Google Ads Approximation"].str.contains("-") == False]
crm_new_google = crm_new_google.groupby(["Enquiry Month"]).count().swapaxes("index","columns")
crm_new_google

Enquiry Month              1    2    3   4   5   6   7   8   9   10   11  12
Google Ads Approximation  149  159  125  70  69  64  34  49  71  82  107  94

### Conversions

In [27]:
crm_new_conversions = crm_new[crm_new["Status"].str.contains("Closed", regex = False)]

#### Total

In [21]:
crm_new_conversions_total = crm_new[["Enquiry Month","Status"]]
crm_new_conversions_total = crm_new_conversions_total[crm_new_conversions_total["Status"].str.contains("Closed", regex = False)]
crm_new_conversions_total.groupby(["Enquiry Month"]).count().sort_values(by = ["Enquiry Month"]).swapaxes("index","columns")

Enquiry Month  1   2   3   4   5   6   7   8   9   10  11  12
Status         64  88  78  24  29  33  14  15  22  29  55  39

#### Prospected & Google

In [31]:
#grouping by prospected
crm_new_conversions_prospected = crm_new_conversions.groupby(["Enquiry Month","Client Prospected"]).count().sort_values(by = ["Enquiry Month"]).pivot_table(index = ["Client Prospected"], columns = "Enquiry Month", values = "Lead Source")
crm_new_conversions_prospected

Enquiry Month               1   2   3   4   5   6   7   8   9   10  11  12
Client Prospected
Not Sent Prospecting Email  55  59  47  13  22  24   7  13  19  23  37  36
Sent Prospecting Email       9  29  31  11   7   9   7   2   3   6  18   3

In [32]:
#grouping by google
crm_new_conversions_google = crm_new_conversions[["Enquiry Month","Google Ads Approximation"]]
crm_new_conversions_google = crm_new_conversions_google[crm_new_conversions_google["Google Ads Approximation"].str.contains("-") == False]
crm_new_conversions_google = crm_new_conversions_google.groupby(["Enquiry Month"]).count().swapaxes("index","columns")
crm_new_conversions_google

Enquiry Month             1   2   3   4   5   6   7   8   9   10  11  12
Google Ads Approximation  55  59  47  13  22  24   7  13  19  23  37  36

# CRM Repeat

## Enquires

### Total

In [9]:
crm_repeat_total = crm_repeat[["Enquiry Month","Lead Source"]]

In [10]:
crm_repeat_total.groupby(["Enquiry Month"]).count().sort_values(by = ["Enquiry Month"]).swapaxes("index","columns")

Enquiry Month   1    2    3    4    5    6   7   8    9    10   11  12
Lead Source    113  192  204  137  107  129  70  70  141  154  178  50

### Prospected & Google

In [11]:
#grouping by prospected
crm_repeat_prospected = crm_repeat.groupby(["Enquiry Month","Client Prospected"]).count().sort_values(by = ["Enquiry Month"]).pivot_table(index = ["Client Prospected"], columns = "Enquiry Month", values = "Lead Source")
crm_repeat_prospected

Enquiry Month               1    2    3    4   5    6   7   8   9   10  11  12
Client Prospected
Not Sent Prospecting Email  92  161  162  106  82  105  52  48  96  78  97  33
Sent Prospecting Email      21   31   42   31  25   24  18  22  45  76  81  17

In [12]:
#grouping by google
crm_repeat_google = crm_repeat[["Enquiry Month","Google Ads Approximation"]]
crm_repeat_google = crm_repeat_google[crm_repeat_google["Google Ads Approximation"].str.contains("-") == False]
#crm_repeat_google = crm_repeat_google.groupby(["Enquiry Month"]).count().swapaxes("index","columns")
crm_repeat_google.count()

Enquiry Month               0
Google Ads Approximation    0
dtype: int64

## Conversions

In [33]:
crm_repeat_converions = crm_repeat[crm_repeat["Status"].str.contains("Closed", regex = False)]

### Total

In [35]:
crm_repeat_conversions_total = crm_repeat[["Enquiry Month","Status"]]
crm_repeat_conversions_total = crm_repeat_conversions_total[crm_repeat_conversions_total["Status"].str.contains("Closed", regex = False)]
crm_repeat_conversions_total.groupby(["Enquiry Month"]).count().sort_values(by = ["Enquiry Month"]).swapaxes("index","columns")

Enquiry Month  1    2    3   4   5   6   7   8   9   10   11  12
Status         60  100  113  79  52  60  33  27  53  87  109  21